@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
}

<div class="col-md-10">
    <h3 class="text-center">@ViewData["Title"]</h3>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
    <form id="change-password-form" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Input.OldPassword"></label>
            <input asp-for="Input.OldPassword" class="form-control" />
            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.NewPassword"></label>
            <input asp-for="Input.NewPassword" class="form-control" />
            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.ConfirmPassword"></label>
            <input asp-for="Input.ConfirmPassword" class="form-control" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-teamLegend text-center col-md-12 col-sm-12" id="registerButton">Update Password</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
