@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
}

<div class="col-md-10">
    <h3 class="text-center">@ViewData["Title"]</h3>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
    <form id="profile-form" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Username"></label>
            <input value="@this.User.Identity.Name" class="form-control" disabled />
        </div>
        <div class="form-group">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.PhoneNumber"></label>
            <input asp-for="Input.PhoneNumber" class="form-control" />
            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.ProfilePicture"></label>
            <input asp-for="Input.ProfilePicture" />
            <span asp-validation-for="Input.ProfilePicture" class="text-danger"></span>
        </div>
        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-teamLegend text-center col-md-12 col-sm-12" id="registerButton">Save</button>
        </div>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
