@model TeamLegend.Web.Models.Home.MatchHomeCollectionViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <h1 class="text-center">@this.ViewData["Title"]</h1>
    <hr class="teamLegend-line" />
    <div class="container-fluid">
        <h2 class="text-center">Last played matches</h2>
        <div class="row d-flex justify-content-around">
            @if (Model.TopPlayedMatches == null || Model.TopPlayedMatches.Count < 1)
            {
                <h3>There are not recenlty played matches.</h3>
            }
            else
            {
                foreach (var match in Model.TopPlayedMatches)
                {
                    <partial name="Matches/_PlayedMatchPartial" model="match" />
                }
            }
        </div>
        <hr class="teamLegend-line" />
        <h2 class="text-center">Upcoming matches</h2>
        <div class="row d-flex justify-content-around">
            @if (Model.TopComingMatches == null || Model.TopComingMatches.Count < 1)
            {
                <h3>There are not recenlty upcoming matches.</h3>
            }
            else
            {
                foreach (var match in Model.TopComingMatches)
                {
                    <partial name="Matches/_ComingMatchPartial" model="match" />
                }
            }
        </div>
    </div>
</main>
