@model TeamLegend.Web.Areas.Administration.Models.League.LeagueCreateInputModel

@inject ITeamsService teamsService;
@inject ICloudinaryService cloudinaryService;
@{
    var teams = await this.teamsService.GetAllAsync();
    teams = teams.Where(t => t.League == null).ToList();
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create League</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label> <span class="required-field">&#42;</span>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label> <span class="required-field">&#42;</span>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParticipatingTeams" class="control-label"></label>
                <select multiple="" class="dropdown form-control" asp-for="ParticipatingTeams" id="selectedPlayers">
                    <option disabled>Select Teams</option>
                    @foreach (var team in teams)
                    {
                        <option value="@team.Id" data-content="<img src='@this.cloudinaryService.BuildTeamBadgePictureUrl(team.Name, team.BadgeVersion)' style='height: 25px' /> @team.Name"></option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-area="">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('select').selectpicker();
    </script>
}
