@model TeamLegend.Web.Models.Leagues.LeagueAllViewModel

@{
    ViewData["Title"] = "All Leagues";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var pageNumber = (int)this.ViewData["Page"];
    var previousPageNumber = pageNumber - 1;
    var nextPageNumber = pageNumber + 1;

    var hasNextPage = (bool)this.ViewData["HasNextPage"];
}

<main>
    <h1 class="text-center">@ViewData["Title"]</h1>
    <hr class="teamLegend-line" />
    <div class="container-fluid">
        <div class="row d-flex justify-content-around">
            @foreach (var league in Model.Leagues)
            {
                <partial name="Leagues/_LeaguePartial" model="league" />
            }
        </div>
        <div class="d-flex justify-content-between">
            @if (previousPageNumber < 1)
            {
                <button class="btn btn-teamLegend" disabled><i class="fas fa-chevron-circle-left"></i> Previous Page</button>
            }
            else
            {
                <button class="btn btn-teamLegend" id="previousPageButton"><i class="fas fa-chevron-circle-left"></i> Previous Page</button>
            }
            @if (!hasNextPage)
            {
                <button class="btn btn-teamLegend" disabled>Next Page <i class="fas fa-chevron-circle-right"></i></button>
            }
            else
            {
                <button class="btn btn-teamLegend" id="nextPageButton">Next Page <i class="fas fa-chevron-circle-right"></i></button>
            }
        </div>
    </div>
</main>

@section Scripts {
    <script>
        $('#previousPageButton').click(function () {
            url = "/Leagues/All?page=" + @previousPageNumber;
            $(location).attr("href", url);
        });

        $('#nextPageButton').click(function () {
            url = "/Leagues/All?page=" + @nextPageNumber;
            $(location).attr("href", url);
        });
    </script>
}