header a {
    color: #ffffff;
}

a:hover {
    text-decoration: none;
}

header a:hover {
    color: #f2efef;
}

.teamLegend-bg-color {
    background-color: #075eff;
    color: #ffffff;
}

.side-margin {
    margin-left: 65px;
    margin-right: 65px;
}

.log-links a {
    margin-left: 10px;
}

.text-bold {
    font-weight: bold;
}

#brand:hover {
    background-color: #075eff;
}

#dropdown-menu-btn {
    background-color: #075eff;
    color: #ffffff;
}

#dropdown-create-btn {
    background-color: #075eff;
    color: #ffffff;
    padding-top: 7px;
    font-weight: bold;
}

.dropdown-item {
    color: #ffffff;
}

    .dropdown-item:hover {
        color: #ffffff;
        background-color: #003eb2;
    }

#dropdown-menu-content {
    background-color: #075eff;
    color: #ffffff;
    /*padding-left: 7px;*/
    /*padding-right: 7px;*/
    /*width: 180px;*/
}

#teamImg {
    width: 150px;
}

.dropdown-select {
    color: black;
}

    .dropdown-select:hover {
        color: #ffffff;
        background-color: #075eff;
    }

.profile-picture {
    border-radius: 50%;
    width: 33px;
}

.teamLegend-line {
    height: 1px;
    background-color: #075eff;
}

.required-field {
    color: red;
}

.btn-teamLegend {
    background-color: #075eff;
    color: #ffffff;
    margin-top: 17px;
}

.btn-Facebook {
    background-color: #3b5998;
    color: #ffffff;
    margin-top: 17px;
}

.btn-Microsoft {
    background-color: #7cbb00;
    color: #ffffff;
}

.btn-Google {
    background-color: #d62d20;
    color: #ffffff;
}

#socialButton {
    height: 40px;
    font-size: 19px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 30px;
}

#registerButton {
    height: 50px;
    font-size: 17px;
}

#deleteButton {
    height: 50px;
    font-size: 17px;
    border: solid;
    border-color: red;
    border-width: 3px;
}

#loginButton {
    height: 40px;
    font-size: 19px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 1px;
}

#createButton {
    height: 40px;
    font-size: 19px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 1px;
}

#rememberMe {
    font-size: 17px;
}

.team {
    border: solid;
    background: url("../images/lightWoodBackground.png");
    border-color: #075eff;
    border-radius: 25px;
    padding-top: 4px;
    width: 300px;
}

.league {
    border: solid;
    background: url("../images/lightWoodBackground.png");
    border-color: #075eff;
    border-radius: 25px;
    padding-top: 4px;
}

#leagueNameLink {
    color: #0452e2;
}

    #leagueNameLink:hover {
        color: #003eb2;
    }

table.table-bordered {
    border: solid;
    border-color: #075eff;
    margin-top: 20px;
}

th {
    color: #ffffff;
    background-color: #075eff;
}

    table.table-bordered > thead > tr > th {
        border: 0.09px solid #075eff;
    }

    table.table-bordered > tbody > tr > td {
        border: 0.09px solid #075eff;
    }

.form-group a:hover {
    color: #ffffff;
}

.jumbotron {
    background-color: #dde6ff;
    padding-top: 45px;
    padding-bottom: 40px;
}

.content {
    margin-top: 1%;
    margin-bottom: 3%;
    padding-bottom: 55px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
