header a {
    color: #ffffff;
}

a:hover{
    text-decoration: none;
}

header a:hover {
    color: #f2efef;
}

.teamLegend-bg-color {
    background-color: #075eff;
    color: #ffffff;
}

.side-margin {
    margin-left: 65px;
    margin-right: 65px;
}

.log-links a{
    margin-left: 10px;
}

.text-bold {
    font-weight: bold;
}

#brand:hover {
    background-color: #075eff;
}

#dropdown-menu-btn {
    background-color: #075eff;
    color: #ffffff;
}

#dropdown-menu-content {
    background-color: #075eff;
    color: #ffffff;
    padding-left: 7px;
    padding-right: 7px;
    width: 180px;
}

.profile-picture {
    border-radius: 50%;
    width: 33px;
}

.teamLegend-line {
    height: 1px;
    background-color: #075eff;
}

.required-field {
    color: red;
}

.btn-teamLegend {
    background-color: #075eff;
    color: #ffffff;
    margin-top: 17px;
}

#registerButton {
    width: 330px;
    height: 50px;
    font-size: 17px;
}

.jumbotron {
    background-color: #dde6ff;
    padding-top: 45px;
    padding-bottom: 40px;
}

.content {
    margin-top: 1%;
    margin-bottom: 3%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}