@model TeamLegend.Web.Models.Teams.TeamsCollectionViewModel

@{
    ViewData["Title"] = "All Teams";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <h1 class="text-center">@ViewData["Title"]</h1>
    <hr class="teamLegend-line" />
    <div class="container-fluid">
        <div class="row d-flex justify-content-between">
            @foreach (var team in Model.Teams)
            {
                <div class="team m-3 col-md-2 col-sm-5 col-xs-12 text-center">
                    <img src="@team.BadgeUrl" class="card-img-top" id="teamImg" />
                    <hr class="teamLegend-line" />
                    <div>
                        <a asp-controller="Teams" asp-action="Details" asp-route-id="@team.Id">
                            <h3>@team.Name</h3>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</main>
