@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<main>
    <h1 class="text-center">@ViewData["Title"]</h1>
    <h3 class="text-center">Create a new account.</h3>
    <hr class="teamLegend-line" />

    <div class="jumbotron">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="row justify-content-around">
                <div class="col-md-6">
                    <h4 class="text-center">Required fields</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Input.Username"></label> <span class="required-field">&#42;</span>
                                <input asp-for="Input.Username" class="form-control" placeholder="Username..." />
                                <span asp-validation-for="Input.Username" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Input.Email"></label> <span class="required-field">&#42;</span>
                                <input asp-for="Input.Email" class="form-control" placeholder="Email..." />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Input.FirstName"></label> <span class="required-field">&#42;</span>
                                <input asp-for="Input.FirstName" class="form-control" placeholder="First Name..." />
                                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Input.LastName"></label> <span class="required-field">&#42;</span>
                                <input asp-for="Input.LastName" class="form-control" placeholder="Last Name..." />
                                <span asp-validation-for="Input.LastName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Input.Password"></label> <span class="required-field">&#42;</span>
                                <input asp-for="Input.Password" class="form-control" placeholder="Password..." />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Input.ConfirmPassword"></label> <span class="required-field">&#42;</span>
                                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password..." />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.DateOfBirth"></label> <span class="required-field">&#42;</span>
                        <input asp-for="Input.DateOfBirth" class="form-control" />
                        <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4 class="text-center">Optional fields</h4>
                    <div class="form-group">
                        <label asp-for="Input.PhoneNumber"></label>
                        <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Phone Number..." />
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.CountryOfBirth"></label>
                        <input asp-for="Input.CountryOfBirth" class="form-control" placeholder="Country of Birth..." />
                        <span asp-validation-for="Input.CountryOfBirth" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn-teamLegend text-center" id="registerButton">Register</button>
            </div>
        </form>
    </div>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
