@if (this.User.Identity.IsAuthenticated)
{
    <div class="navbar-right">
        <ul class="nav navbar-nav mr-auto navbar-right">
            <li class="nav-item">
                <vc:user-profile principal-user="@this.User"></vc:user-profile>
            </li>
        </ul>
    </div>
}
else
{
    <ul class="navbar-nav right-side log-links">
        <li><a asp-area="Identity" asp-page="/Account/Register"><i class="fas fa-user-plus"></i> Register</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
    </ul>
}