@if (this.User.Identity.IsAuthenticated)
{
    <div class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                        @if (this.ViewData["ProfilePicture"] != null)
                        {
                            <img src="@ViewData["ProfilePicture"]" style="border-radius: 50%" />
                        }
                        else
                        {
                            <div>Profile</div>
                        }
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropdown-menu">
                        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Manage account</a>
                        <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
}
else
{
    <ul class="navbar-nav right-side log-links">
        <li><a asp-area="Identity" asp-page="/Account/Register"><i class="fas fa-user-plus"></i> Register</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
    </ul>
}