@if (this.User.Identity.IsAuthenticated)
{
    <div class="navbar-right">
        <ul class="nav navbar-nav mr-auto navbar-right">
            <li class="nav-item">
                <div class="dropdown">
                    <button type="button" class="btn dropdown-toggle" id="dropdown-menu-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @if (this.ViewData["ProfilePicture"] != null)
                        {
                            <img src="@ViewData["ProfilePicture"]" class="profile-picture" />
                        }
                        else
                        {
                            <i class="fas fa-user" ></i>
                        }
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" id="dropdown-menu-content">
                        <a asp-area="Identity" asp-page="/Account/Manage/Index"><i class="fas fa-cog"></i> Manage account</a>
                        <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
}
else
{
    <ul class="navbar-nav right-side log-links">
        <li><a asp-area="Identity" asp-page="/Account/Register"><i class="fas fa-user-plus"></i> Register</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
    </ul>
}